header {
	display: flex;
	min-height: 150px;
	background-color: rgb(25, 05, 50);
	justify-content: space-between;
	align-items: center;
	width: 100%;
	.menuTitle {
			color: white;
			letter-spacing: 0.1em;
			text-align: center;
			color: white;
			font-size: 1.7em;
			letter-spacing: 0.2em;
			text-align: center;
		}
		.menuText {
			color: rgb(255, 255, 255);
			letter-spacing: 0.1em;
			text-align: center;
			font-size: 1.3em;
		}
}
.logo{
	display: flex;
	align-items: center;
		img{width: 100px;
			height: 100px;}
}

@media (max-width:950px){
	header{
		flex-direction: column;

	}
}