    /*about*/
    #section {
        margin:auto ;
        padding: auto; 
        display: flex;   
        justify-content: flex-start;
        justify-items: flex-start;
    
    }
    .about{
        border: 1px solid black; /*el borde solo esta como guia*/
        padding: 10px 10px;
        margin: 10px 10px ; 
        text-align: center;
        justify-content: flex-start;
        justify-items: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        width: 90%;
        
    }
    #section h2{
        font-size: 2.8em;
        text-align: center;
        color: rgb(86, 0, 190);
    }
    .aboutText{
        letter-spacing: 1px;
        font-size: large;
        text-align: center;
        padding: 20px 150px ;
        font-weight: bold;
        padding: auto;
        font-size: 1.1em;
        letter-spacing: 0.1em;
    }
