    /*about*/
    #section {
        margin: auto;
        padding: auto;
        display: flex;
        justify-content: flex-start;
        justify-items: flex-start;
        padding: 10px 10px;
        h2 {
            font-size: 2.8rem;
            text-align: center;
            color: rgb(86, 0, 190);
            
        }
        .about {
            border: 1px solid black;
            text-align: center;
            @include flexall (column, wrap, center, center,center,center,0px);
            width: 100%;
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
            max-width: 1200px;
            min-height: 1100px;
            .aboutText {
                letter-spacing: 1px;
                font-size: large;
                text-align: center;
                padding: 20px 150px;
                font-weight: bold;
                padding: auto;
                font-size: 1.1em;
                letter-spacing: 0.1em;
            }
        }
    }

   