/*FaQ*/
.Title {
	font-size: 1.4em;
	letter-spacing: 0.1em;
	padding-bottom: 40px;
	font-size: 2.8em;
	letter-spacing: 0.1em;
	padding-bottom: 40px;
}
.questionContainer {
	text-align: center;
	min-height: 1200px;
	width: 100vh;
	.questionContainer--a {
		letter-spacing: 1px;
		font-size: large;
		text-align: center;
		padding: 20px 150px;
		font-weight: bold;
		.questionItems {
			border: 1px solid black;
			background-color: rgb(217, 217, 217);
			text-align: center;
			padding: 10px 10px;
			font-size: 1.1em;
			letter-spacing: 0.1em;
			border: 1px solid black;
			background-color: rgb(217, 217, 217);
			text-align: center;
			padding: 10px 10px;
			font-size: 1.1em;
			letter-spacing: 0.1em;
				span {
					color: rgb(35, 201, 201);
				}
		}
	
	}
}

