#article{
    display: flex;
    align-items: center;
    justify-content:center;
    text-align:center;
    flex-direction:column;
    height: 90vh;
    padding: 40px 50px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    )
    ,url(../Img/cuadroD.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
#article form{
    position: relative;
    right:340px;
    top: 180px;
    }

.ofertas{
    color: antiquewhite;
    text-shadow: #000 2px 5px;
    position: relative;
    right:340px;
    top: 180px;
    font-size: 2em;
    font-weight: bolder;
    }

#articleDos{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}
#articleDos .container{
    height: 700px;
    padding: 150px 120px;
    margin: auto;
    display:grid;
    grid-column-gap: 500px;
    grid-row-gap: 100px;
    padding: 50px 30px;
    
}

#articleDos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}
.carta:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(../Img/cuadroA.jpg);
          background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.carta:nth-child(2){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(../Img/pelucheA.jpg);
          background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    
   
}
.carta:nth-child(3){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(../Img/figuraB.webp);
          background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
   
    
  

}
.carta:last-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(../Img/remera1.webp);
          background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}