 /*Productos*/
section{
	display: flex;
	flex-direction: row;
}
.aside {
	border: 1px solid black;
	min-height: 950px;
	padding: 10px;
	margin: 10px;
	align-items: center;
	gap: 50px;
	font-size: 1.2em;
	background-color: rgb(35, 18, 82);
	color: white;
}
.productosP{
	@include sizes(300px, 255px)
}
.container{
	display: flex;
	flex-direction: row;
}
.nav-item{
	color: black;
}
